<script src="~/Scripts/knockout-3.2.0.js"></script>
<table class="table table-striped table-bordered table-condensed">
    <tr> 
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
    </tr>
    <tbody data-bind="foreach: Profiles">
        <tr">
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>
            <td data-bind="text: Email"></td>
        </tr>
    </tbody>
</table>
 
<script type="text/javascript">
    ko.applyBindings({
        Profiles: [
            { FirstName: 'Bert', LastName: 'Bertington', Email: 'xxx@aol.com' },
            { FirstName: 'Charles', LastName: 'Charlesforth', Email: 'bbb@aol.com'},
            { FirstName: 'Denise', LastName: 'Dentiste', Email: 'ttt@aol.com' }
        ]
    });
</script>